extends layout

block content
  #main
    .sub
      .title
        |typographer
      .featurette
    .nav
      a.nav_button(href="favorites") ♥
      a.nav_button(href="new") +
      a.nav_button(href="logout") logout
    .featured
