extends layout

block content
  #main
    .sub
      .title
        |typographer
      .featurette
    include partials/nav
    #newForm
      form(action="/new/"+id method="POST")
        .row
          label
            .label  Artwork Name
            input.inputField(name="artworkName" type="text" placeholder="artwork")
        .row
          label
            .label  Artist
            input.inputField(name="artworkArtist" type="text" placeholder="artist or outfit")
        .row
          label
            .label Artwork URL
            input.inputField(name="artworkURL" id="artworkURL" type="text" placeholder="url")
        .row
          label
            .label Comment
            textarea.inputText(name="artworkNote" placeholder="comment")
        .row
          label
            .label
            input.button_submit(type="submit" value="add artwork!")
    #featuredNew
