body {
  padding: 50px;
  font: 14px Arial, Helvetica, sans-serif;
  margin:0;
  padding:0px;
}

a {
  color: #00B7FF;
}
* {
  box-sizing: border-box;
}

#main{
  position:relative;
  margin: 0 auto;
  width:602px;
  border-left:1px dotted black;
}

.sub{
  position:absolute;
  top:0px;
  left:0px;
  width:600px;
  height:100px;
  border-bottom: 0px solid black;
  overflow:hidden;
  background-color: rgb(150, 150, 180);
}
.title{
  position:absolute;
  top:53px;
  left:5px;
  width:400px;
  height:100px;
  border-right: 0px solid black;
  font-size: 60px;
  font-weight: bold;
  color: white;
}
.featurette{
  position:absolute;
  top:0px;
  right:0px;
  width:200px;
  height:100px;
}
.nav{
  position:absolute;
  top:100px;
  left:0px;
  width:600px;
  height:50px;
  padding-left:15px;
  border-top:1px solid black;
  border-bottom:1px dotted grey;
  /*background-color: rgb(150, 150, 180);*/
  background-color: white;
}
#newForm{
  position:absolute;
  top:150px;
  left:0px;
  width:600px;
  height:400px;
  padding-left:15px;
}

.featured {
  position:absolute;
  top:120px;
  left:280px;
  width:300px;
  height:400px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
}

.featuredLink {
  position:absolute;
  display:inline-block;
  top:0px;
  left:0px;
  width:300px;
  height:400px;
}

.thumbNail {
  float:left;
  margin:15px 15px;
  width:100px;
  height:150px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
}

.thumbNailLink {
  display:inline-block;
  margin:0;
  width:100px;
  height:150px;
}


#featuredNew {
  position:absolute;
  top:120px;
  left:400px;
  width:200px;
  height:300px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
}

.nav_button {
  display:inline-block;
  height:30px;
  margin-top:7px;
  padding:5px;
  font-size:22px;
  font-weight: bolder;
  color:rgb(150, 150, 180);
  text-decoration: none;
}

.nav_button_dis {
  display:inline-block;
  height:30px;
  margin-top:7px;
  padding:5px;
  font-size:22px;
  font-weight: bolder;
  color:rgb(210, 210, 240);
  text-decoration: none;
}

.row {
  vertical-align: top;
margin-top:15px;
}
.label {
  vertical-align: top;
  display:inline-block;
  width:100px;
  margin-top:3px;
  font-size:12px;
}

.viewLabel {
  vertical-align: top;
  width:100px;
  margin-top:3px;
  font-size:12px;
  border:0px solid black;
}
.viewText {
  vertical-align: top;
  display:inline-block;
  width:200px;
  margin-top:0px;
  font-size:12px;
  border:0px solid black;
  color: rgb(160, 190, 190);
}

.inputField {
  display:inline-block;
  width: 250px;
  height:20px;
  padding-left:5px;
  font-size:12px;
  background-color: rgb(255, 255, 255);
  border:1px solid black;
}

.inputField_error {
  display:inline-block;
  width: 250px;
  height:20px;
  padding-left:5px;
  font-size:12px;
  background-color: rgb(255, 220, 220);
  border:1px solid black;
}

.errors {
  display:inline-block;
  margin-left:100px;
  width: 250px;
  height:15px;
  padding:5px;
  font-size:12px;
  color: rgb(255, 0, 0);
}


.inputText {
  display:inline-block;
  width: 250px;
  height:70px;
  padding-left:5px;
  font-size:12px;
  border:1px solid black;
  resize: none;
}

#inputComment {
  display:inline-block;
  width: 250px;
  height:50px;
  padding-left:5px;
  font-size:12px;
  border:1px solid black;
  resize: none;
}

.userArtwork {
  margin-top:10px;
  width: 450px;
  padding:5px;
  border-top:1px dotted black;
}

.item {
  display:inline-block;
  width: 220px;
  height:15px;
  margin-left:5px;
  margin-top:5px;
  font-size:12px;
  color: rgb(255, 0, 0);
}

.like {
  margin-top:390px;
  text-align: right;
}

#like_button {
  display:inline-block;
  height:30px;
  margin-top:7px;
  padding:5px;
  font-size:22px;
  font-weight: bolder;
  color:rgb(150, 150, 180);
  text-decoration: none;
}

#unLike_button {
  display:inline-block;
  height:30px;
  margin-top:7px;
  padding:5px;
  font-size:22px;
  font-weight: bolder;
  color:rgb(150, 150, 180);
  text-decoration: none;
}

.edit {
  display:inline-block;
  height:15px;
  font-size:12px;
}

.delete {
  display:inline-block;
  height:15px;
  font-size:12px;
  margin-left:10px;
}

.confirm {
  display:none;
  height:20px;
  width:250px;
  font-size: 12px;
  height:15px;
}

.confirm-yes {
  float:right;
  cursor: pointer;
  display:inline-block;
  font-size: 12px;
  height:15px;
  width:50px;
  margin-left: 3px;
  background-color: rgb(255, 255, 255);
  border:1px solid red;
  text-align: center;
  color: rgb(255, 0, 0);
  transition: all .3s ease;
}

.confirm-yes:hover {
  float:right;
  cursor: pointer;
  display:inline-block;
  font-size: 12px;
  height:15px;
  width:50px;
  margin-left: 3px;
  background-color: rgb(255, 190, 190);
  border:1px solid red;
  text-align: center;
  color: rgb(255, 0, 0);
}


.confirm-no {
  float:right;
  cursor: pointer;
  display:inline-block;
  font-size: 12px;
  height:15px;
  width:50px;
  margin-left: 3px;
  background-color: rgb(255, 255, 255);
  border:1px solid black;
  text-align: center;
  color: rgb(180,180,180);
  transition: all .3s ease;
}

.confirm-no:hover {
  float:right;
  cursor: pointer;
  display:inline-block;
  font-size: 12px;
  height:15px;
  width:50px;
  margin-left: 3px;
  background-color: rgb(210, 215, 210);
  border:1px solid black;
  text-align: center;
  color: rgb(180,180,180);
}


.deleteButton {
  border:1px solid black;
  text-align: center;
  cursor: pointer;
  width:18px;
  height:15px;
  display:inline-block;
  background-color: rgb(180, 0, 0);
  font-size: 14px;
  height:18px;
  color: rgb(180, 0, 0);
  transition: all .3s ease;
}

.deleteButton:hover {
  border:1px solid black;
  text-align: center;
  cursor: pointer;
  width:18px;
  height:15px;
  display:inline-block;
  background-color: rgb(180, 0, 0);
  font-size: 14px;
  height:18px;
  color: rgb(255, 0, 0);
}

.deleteButtonHide {
  position:absolute;
  border:0px solid black;
  text-align: center;
  width:19px;
  height:16px;
  display:inline-block;
  background-color: rgb(255, 255, 255);
  font-size: 14px;
  height:18px;
  color: rgb(180, 0, 0);
  transition: all .3s ease;
}

.commenter {
  border:0px solid black;
  display:inline-block;
  width:227px;
  font-size: 14px;
  height:18px;
  color: #BBB;
}

.commentItem {
  font-size: 12px;
  color: #888;
}

.commentList {
  border:0px solid black;
  margin-bottom:15px;
}

#loggedin {
  color:#F00
}

#newCommentRow {
  border: 0px solid black;
  display:none;
}

#newComment {
  border:0px solid black;
}

#newCommentText {
  border:0px solid black;
}


#newCommenter {
  border:0px solid black;
  width:227px;
  font-size: 14px;
  height:18px;
  color: #BBB;
}

#likedHidden {
  display: none;
}

#header {
  position: absolute;
  top:0px;
  left:5px;
  width:400px;
  border-right: 0px solid black;
  font-size: 60px;
  font-weight: bold;
  color: #BBB;
}

#headerBox {
  position:relative;
  top:0px;
  left:0px;
  width:600px;
  height:50px;
  margin-left:-15px;
  border-bottom: 0px solid black;
  overflow:hidden;
  background-color: rgb(255, 255, 255);
}
